{% extends 'base.html.twig' %}

{% block title %}Mon compte - Gaminggeek!{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <h1>Mon compte </h1>

            <h2>Bienvenue sur votre compte {{app.user.firstName}}</h2>

            <div>
                <a href="{{path('account_address')}}">Mes adresses</a>
                <a href="{{path('account_address')}}">Mes adresses</a>
            </div>
        </div>
    </div>
{% endblock %}
