{% extends "base.html.twig" %}

{% block title %}
    Ma commande {{order.reference}}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
        {% if order.reference|length == null %}
            <h1>Vous n'avez pas de commande</h1>
        {% else %}
            <h1>{{order.reference}} </h1>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/app.js')}}"></script>

    <script>
    window.addEventListener('DOMContentLoaded', function() {
        AOS.init();
    });

    </script>
{% endblock %}