{% extends 'base.html.twig' %}

{% block title %}Mon compte - Gaminggeek!{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
        <h1>Mon Mot de Passe</h1>

        <h2>Changer votre mot de passe {{app.user.firstName}} </h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
