{% extends 'base.html.twig' %}

{% block title %}Jeux video d occaz{% endblock %}

{% block body %}


<div class="row">
    <div class="container">
        <h1>Jeux video d'occasion</h1>
        <h2>Jeux d'occaz</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
    </div>
</div>
{% endblock %}