{% extends 'base.html.twig' %}

{% block title %}CV de Elhadi et Meddy!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>CV de Elhadi et Meddy</h1>
        <div class="block-pdf">
            <embed src="{{ path('app_cv_elhadi')}}" width="1200" height="1100" type='application/pdf'>
        </div>
        <div class="block-pdf">
            <embed src="{{ path('app_cv_meddy')}}" width="1200" height="1100" type='application/pdf'>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/app.js')}}"></script>
{% endblock %}
