
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.container {
    
}

.jeux-cont {
    display: flex;
    flex-wrap: wrap;
}

.jeux-item {
    
}

.accueil-img {
    width: 350px;
    height: 300px;
    padding: 10px 10px 10px 10px;
}

.jeux-description {
    text-align: center;
}

.jeux-user {
    text-align: center;
    
}

.jeux-categorie {
    text-align: center;
}

.add_to_basket {
    color: white;
}

.commande-title {
    font-size: 1.5em;
    font-weight: bold;
    float: right;
}

.navbar-brand{
    color: white;
}

.nav-account{
    position: relative;
    margin-right: 5px;
}


