@import "~bootstrap/scss/bootstrap.scss";
@import "./theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");


.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-third: #003880;
    --color-accent: #fd6f53;
    --color-info: #ff9f41;
    --color-prud: #ffcb99;
    --font-color: #ffffff;
    --font-color2: black;
    --font-color3: #0DF9F4;
}

.theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #2e6770;
    --color-third: #ff9f41;
    --color-accent: #12cdea;
    --color-info: #00ffff;
    --color-prud: #730100;
    --font-color: #000000;
    --font-color2: white;
    --font-color3: #F6F6F6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Baloo 2", cursive;
    background: var(--color-secondary);
    font-size: 16px;
    text-rendering: optimizeLegibility;
	font-weight: initial;
}

.container h1 {
    color: var(--font-color2);
}

h1 {
    color: var(--font-color2);
}

a {
    color: var(--font-color3);
}

a:after{
    color: var(--font-color3);
}

.carousel-container {
    width: 100%;
    height: 420px;
}

.navbar-color {
    background-color: var(--color-primary);
    color: var(--font-color);
}
.nav-link {
    color: var(--font-color);
}

.card {
    background-color: var(--color-third);
    color: var(--font-color);
}

img.card-img-top.handle-link {
    width: 100%;
    height: 230px;
}

.handle-link {
    color: var(--font-color);
    text-decoration: none;
}

.hiddentype.form-select {
    display: none;
}

label.hiddentype.form-label {
    display: none;
}

.card-image {
    // width: 190px;
    
    height: 450px;
    margin-bottom: 40px;
}


.accueil-img {
    width: 350px;
    height: 300px;
    padding: 10px 10px 10px 10px;
}

.jeux-description {
    text-align: center;
}

.jeux-user {
    text-align: center;
    
}

.jeux-categorie {
    text-align: center;
}

.add_to_basket {
    color: white;
}

.commande-title {
    font-size: 1.5em;
    font-weight: bold;
    float: right;
}

.navbar-brand{
    color: white;
}

.nav-account{
    position: relative;
    margin-right: 5px;
}

// carousel

button.carousel-indicator {
    background: var(--font-color);
}

.mesjeux-modif {
    padding: 20px 20px 20px 20px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
    line-height: 60px; /* Vertically center the text there */
    background-color: var(--color-primary);
    color: var(--font-color2);
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    color: var(--font-color2);
}

// article show

.img_show {
    display: flex;
}
img.article_show_img_principal{
    width: 400px;
    height: 400px;
    order: 2;
}
img.article_show_img {
    width: 200px;
    height: 200px;
    
}

img.article_show_img_user {
    width: 400px;
    height: 400px;
}

// Blog

.block-pdf {
    width: 100%;
    height: 100%;
}

.cards {
    display: flex;
}

.card {
    order: 4;
    padding-left: 40px;
    background-color: var(--color-info);
}

