.theme-light {
    --color-primary: hsl(0, 0%, 100%);
    --color-secondary: #00d9ff;
    --color-accent: #00ffaa;
    --color-info: #00ff73;
    --color-prud: #fa7900;
    --font-color: #000000;
}

.theme-dark {
    --color-primary: #000000;
    --color-secondary: #00ddff;
    --color-third: #ff00ff;
    --color-accent: #12cdea;
    --color-info: #00ffff;
    --color-prud: #000000;
    --font-color: #ffffff;
}
