{% extends 'base.html.twig' %}

{% block title %} Mes Commandes de !{% endblock %}

{% block body %}
<div class="row">
    <div class="container">
        <h1>Je passe ma commande</h1>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <p>Choisir mon adresse de livraison</p>
                <p>Choisir mon transporteur</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Récapitulatif de ma commande</p>
                <p>boutton pour payer</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
