{% extends "base.html.twig" %}

{% block title %}
    Serveur Erreur
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Oups !! Le serveur ne réponds pas  !</h1>
            <p>Vous ne pouvez aller nulle part</p>
        </div>
    </div>
{% endblock %}