{% extends "base.html.twig" %}

{% block title %}
    Serveur Erreur 503
{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <h1>Oups !! le serveur n'est pas prêt à gérer la demande. !</h1>
            <p>Vous ne pouvez aller nulle part</p>
        </div>
    </div>
{% endblock %}