{% extends "base.html.twig" %}

{% block title %}
    Vous n'avez pas le droit d'accéder à cette ressource
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Alors ? Vous essayez d'accéder à ce qui vous appartient pas !</h1>
        <p>Vous pouvez retourner à ...</p>
        <a class="btn btn-primary" href="{{path('accueil')}}">Accueil</a> |
        <a class="btn btn-primary" href="{{path('jeuxvideo')}}">Jeux vidéo</a>
    </div>
{% endblock %}